html,body{
    height: 100%;
    margin: 0px;
    background-color: #FEFBE9;
}
div#main{
    height: 100%;
    background-color: #FEFBE9;
}
div#submainmenu{
    height: 50px;
    background-color: #FEFBE9;
}

div#title{
    height: 100%;
    width: 10%;
    display: inline-flex;
    justify-content: center;
    background-color: #F0A04B;
    border-bottom-left-radius: 10%;
    cursor: pointer;
    float: left;
}
div#user{
    height:100%;
    width: 10%;
    display: inline-flex;
    justify-content: center;
    background-color: #E1EEDD;
    float: left;
    cursor: pointer;
}
div#logout{
    height:100%;
    width: 10%;
    display: inline-flex;
    justify-content: center;
    background-color: #F0A04B;
    float: right;
    cursor:pointer;
    border-bottom-right-radius: 10%;
}
div#rest{
    height: 100%;
    width: 70%;
    display: inline-flex;
    justify-content: center;
    background-color: #183A1D;
    float: left;
}
p#rest{
    color: #fff;
}
div#logout:hover{
    transition-duration: 1000ms;
    background-color:darkred;
    color:gold;
}

div#title:hover{
    transition-duration: 1000ms;
    background-color: darkred;
    color:gold;
}

div#user:hover{
    transition-duration: 1000ms;
    background-color: darkred;
    color:gold;
}

div#textbox{
    background-color: aqua;
    height: 5%;
    width: 50%;
    position: absolute;
    left:25%;
    bottom:5%;
    float:inline-end;
    border-radius: 25px;
}

.input#text{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #183A1D;
    color: white;
    font-size: large;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid black;
    border-radius: 25px;
}

.input#text:focus{
    background-color:#2b5732;
    transition-duration: 500ms;
}