<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification</title>
</head>
<body>
    {% if err %}
    <h2 style="color:red">User no found!</h2>
    {% endif %}
    <h1>Auth</h1>
    <!--
        Aceasta este pagina de login.
        Trebuie sa contina un formular care sa preia numele utilizatorului
        si parola acestuia.
        De asemenea trebuie sa contina un hiperlink/buton catre pagina de register.
    -->
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>