<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css"/>
    <title>ChatApp</title>
</head>
<body>
    <div id="main">
        <div id="submainmenu">
            <div id="title" class="button">
                <p id="title">Titlu</p>
            </div>
            <div id="user" class="button">
                <p id="user">User</p>
            </div>
            <div id="rest">
                <p id="rest">Chat global</p>
            </div>
            <div id="logout" class="button">
                <p id="logout">Log Out</p>
            </div>
        </div>
        <div id="textbox">
            <input type="text" id="text" class="input">  
        </div>
    </div>
</body>
</html>