<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css"/>
    <title>ChatApp</title>
</head>
<body>
    <div id="main">
        <div id="submainmenu">
            <div id="title" class="button">
                <p id="title">Titlu</p>
            </div>
            <div id="user" class="button">
                <p id="user">User</p>
            </div>
            <div id="rest">
                <p id="rest">Chat global</p>
            </div>
            <div id="logout" class="button">
                <p id="logout">Log Out</p>
            </div>
        </div>
        <div id="chat-box">

        </div>
        <div id="textbox">
            <form id="message-form">
                <input type="text" id="text" class="input">
            </form>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="../static/js/sockets.js">
    // var socket = io();
    // socket.on("connect", function() {
    //     socket.emit("message", {data: "I am connected!"});
    // });
</script>
</html>